@import url('https://fonts.googleapis.com/css?family=Dosis:600,800');

#home span{
	font-family: exo 2;
	font-size: 350%;
	color: rgb(30,106,159)

}
#home h4{
      
	font-family: Roboto;
	font-size: 200%;
}
.navbar{
	background-color:rgb(30,106,159);
	padding: 2px;

}
#myNav li a{

	font-size:110%;
	color: #fff;
}
.navbar a{
	color: #fff;
}
#about p{
	font-size: 25px;
	

}
characters{
	background-color: rgb(30,106,159);
}
#gallery p{
	font-family: roboto;
	font-size: 25px;
	padding: 2px;
	color: #fff;
}
#gallery h3{

	padding-right: 25px;
	font-size: 25px;
	font-family: verdana;
	color: #fff;
}
footer{
	background-color: #23415C;
	padding: 8% 5% 5% 5%;
	color: #fff;


}
.icon{
	max-width: 300px;
}
#social{
	color: white;
	font-size: 45px;
	padding-top:20px;

}

}
.fa:hover{
	text-decoration:none;
	color: #D5D5D5;
}