@import url('https://fonts.googleapis.com/css?family=Dosis:600,800');

#home h4{
	font-family:sans-serif;
	font-size: 300%;
	color: rgb(30,106,159);
	padding-top: 150px;
	padding-left: 35px;

}
#home p{
      
	font-family: Roboto;
	font-size: 200%;
	text-align: justify;
	padding-left: 25px;
}
.navbar{
	background-color:rgb(30,106,159);
	padding: 1.5px;
}
#myNav li a{

	font-size:110%;
	color: #fff;
}
.navbar a{
	color: #fff;
}
#about p{
	font-size: 25px;
	

}
characters{
	background-color: rgb(30,106,159);
}
#gallery p{
	font-family: roboto;
	font-size: 25px;
	padding: 2px;
	color: #fff;
}
#gallery h3{

	padding-right: 25px;
	font-size: 25px;
	font-family: verdana;
	color: #fff;
}
footer{
	background-color: #23415C;
	padding: 8% 5% 5% 5%;
	color: #fff;


}
.icon{
	max-width: 300px;
}
#social{
	color: white;
	font-size: 45px;
	padding-top:20px;

}


.fa:hover{
	text-decoration:none;
	color: #D5D5D5;
}
@media (max-width: 768px)
{
	#home h4{
		padding-top: 10px;
		padding-left: 15px;
	}

#home p{
	font-size:25px;
	padding-left: 15px;
	padding-top: -10px;
	padding-left: 9px;
}
	
#home span{
	font-size: 250%;
}
#footer-img{
	padding-top: 20px;
}

footer{
	font-size: 100%;
}


}